#ignore folder
References
images/
images
align_image
face+mask_image
10_person
checkpoint
save_model
number_mnist_48
encodings
dataset
src/
data_base_image/**
__pycache__
.vscode
.egg
.egg-info
build
dist
FaceMaskRecognize.egg-info